In [ ]:
EXERCISE 1: CLIENT PROJECT SET-UP

TASK 1: CONFIRM PYTHON VERSION

In [1]:
import sys
print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=9, micro=13, releaselevel='final', serial=0)

TASK 2: INSTALL JUPYTER (DONE)

TASK 3 - Step 1: MYSQL CONNECTOR INSTALLATION

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\nhart\anaconda3\lib\site-packages (8.3.0)

In [ ]:
TASK 3 - Step 2: MYSQL CONNECTOR IMPORT

In [4]:
import mysql.connector as connector
from mysql.connector import Error

TASK 3 - Step 3: ESTABLISH AND VERIFY CONNECTION

In [7]:
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    
    try:
        connection = connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        if connection.is_connected():
            print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

# Call the function with actual database credentials

host_name = "localhost"
user_name = "root"
user_password = "Fairfield2024!"
db_name = "littlelemon"

# Pass the actual values when calling the function
connection = create_connection(host_name, user_name, user_password, db_name)

Connection to MySQL DB successful

NOTES FOR LATER REFERENCE

connection = mysql.connector.connect(host="localhost", user="root", password="Fairfield2024!",)

EXERCISE 2: ADD QUERY FUNCTIONS

TASK 1: DB PARAMETER SET-UP (DONE AS PART OF EXERCISE 1)

TASK 2: SHOW ALL TABLES IN LITTLELEMON DB

In [9]:
# Create a cursor from the existing connection
cursor = connection.cursor()
print("Cursor created successfully")

# Return all tables
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()
for table in tables:
    print(table)

Cursor created successfully
('booking',)
('customer',)
('menu',)
('orders',)
('ordersview',)

TASK 3: JOIN AND TABLE QUERY

In [11]:
# Create a cursor from the existing connection
cursor = connection.cursor()
print("Cursor created successfully")

# Define the SQL query as a string
query = """
SELECT 
    customer.CustomerName, 
    customer.CustomerPhone, 
    customer.CustomerEmail, 
    orders.Cost
FROM 
    orders
JOIN 
    booking ON orders.BookingID = booking.BookingID
JOIN 
    customer ON booking.CustomerID = customer.CustomerID
WHERE 
    orders.Cost > 60;
    
ORDER BY 
    orders.Cost DESC
    
"""

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Print the first 25 rows
print("Head (25) of the results:")
for row in results[:25]:
    print(row)

# Print the total number of rows
total_rows = len(results)
print(f"Total number of rows: {total_rows}")

Cursor created successfully
Head (25) of the results:
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('125.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('168.27'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('69.38'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('190.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('310.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('91.84'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('320.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('93.13'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('75.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('144.09'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('125.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('168.27'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('69.38'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('190.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('310.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('91.84'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('320.00'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('93.13'))
('Jefferson Lauderdale', '516-664-3822', 'Jefale123@email.com', Decimal('75.00'))
('Julianna Jostan', '679-870-1401', 'Jultan123@email.com', Decimal('310.00'))
('Julianna Jostan', '679-870-1401', 'Jultan123@email.com', Decimal('91.84'))
('Julianna Jostan', '679-870-1401', 'Jultan123@email.com', Decimal('320.00'))
('Julianna Jostan', '679-870-1401', 'Jultan123@email.com', Decimal('93.13'))
('Julianna Jostan', '679-870-1401', 'Jultan123@email.com', Decimal('75.00'))
('Julianna Jostan', '679-870-1401', 'Jultan123@email.com', Decimal('144.09'))
Total number of rows: 19090

In [12]:
# Close the cursor
cursor.close()

True